<h1>Your Game Page</h1>

<h3>The Rules:</h3>
<%= @game.rules %>

<p>Things to add to this page:</p>
<ul>
  <li>start and end date/time</li>
  <li>names of players in the game</li>
  <li>number of players in the game</li>
  <li>leaderboard</li>
  <li>name and email of organizer</li>
</ul>
