<h1><%= "Secret profile for: #{@player.first_name} #{@player.last_name}" %></h1>

<%= link_to "Create a game!", new_game_path %><br>
<%= link_to "Join a game!", new_player_game_path %>


<p>Things to add to this page:</p>
<ul>
  <li>button: announce kill</li>
  <li>button: join a game</li>
  <li>button: create a game</li>
  <li>show your current target</li>
  <li>show how many kills you have</li>
  <li>the games you have been the organizer of</li>
  <li>edit info button for the games you organized</li>
  <li>the games you have been in</li>
  <li>edit profile button(email, password)</li>
</ul>
