/*
*= require_self
*= require_tree
*/

/*NAVBAR*/

.menu-right {
  float: right;
}

.menu-right li {
  display: inline;
  float: right;
}

.nav-bar {
  height: 60px;
}

.nav-bar a {
  text-decoration: none;
}
